body
{
    text-align: justify;
    font-family:helvetica;
    font-size: 17px;
    padding: 0;
    margin: 0;
    background-color: #101518;
}
/*PAGINA INICIO*/
ul
{
    /*justify-content: space-evenly;*/
    flex-direction: row;
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(32, 31, 31,0.1);
}
li
{
    padding: 0px 10px 0px 0px;
    float: left;
   
}
li a 
{
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #222D33;
}
a{
    text-decoration: none;
}
.conteudo
{
    display: flex;
}
#nome{
    margin-top: 120px;
    font-size:5rem;
    text-shadow: 0px 0px 30px #0d9b5457;

}
#nome:hover{
    color: var(--green);
    transition: 0.5s;
}
#inicio
{
    font-size: 30px;
    font-family:Georgia;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: justify;
}

#meu-passado{ 
    font-size: 30px;
    font-family:Georgia;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: justify;
}
.active{
    background-color: #161c20;
}


#autor {
    bottom: 0;
    left: 0;
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    }

/*PAGINA SOBRE*/
#entre-contato{
    font-size: 2rem;
    color: var(--green);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#contatos{
    text-align: center;
}
.container-botao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.botao
{ 
    
    margin :20px 20px 0px 0px;
    padding: 0.3rem;
    border: #5997D9 solid;
    background:none;
    color: #5997D9;
    font-size: 2rem;
    cursor:pointer;
    box-shadow: 0rem 0rem 0.625rem 0rem #5997D9;
    width: 15rem;
    height: 3.5rem;
    
    transition: transform 0.8s;
    
    
}
.botao:hover {
    transform: scale(1.08);
    background-color: #5997D9;
    color:white;
    
}

/*VARIAVEIS GLOBAIS*/
.ml-rem
{
    margin-left: 2rem;
}
.mr-rem
{
    margin-right: 2rem;
}
.mb-50{
    margin-bottom: 50px;
}

.p-30{
    padding: 0px 30px 0px 30px;
}
.tx-c{
    text-align: center;
}
:root{
    --black: #101518;
    --white: #ffffcc;
    --green: #0d9b54;
}
h1{
    
    font-family:sans-serif;
    color: transparent;
    -webkit-text-stroke: 0.2188rem var(--green);
}
h2
{
    word-wrap: break-word;
    font-size: 3rem;
    color: var(--green);
    margin-bottom: 200px;
}